/* CSS reset */
* {
  /* margin: 0; */
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  display: block;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}
/* end of CSS reset */

body {
  height: 100vh;
  max-width: 100vw;
  background-image: url("./images/bckgrnd_rm.jpg");
  background-attachment: fixed;
  background-position: center bottom;
}

/* @font-face {
  font-family: "WubbaLubbaDubDub";
  src: url("react-and-morty/src/fonts/WubbaLubbaDubDub.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* logó formázás és pozicionálás */
header {
  display: flex;
  justify-content: center;
}

header img {
  width: 40%;
}
/* logó formázás és pozicionálás vége */

/* button formázás és animáció */
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 200px;
  padding: 20px;
}

button.cha,
button.loc {
  margin: 0px 60px 20px 60px;
  padding: 10px 30px;
  width: 200px;
  background-color: rgb(0, 179, 204);
  border-radius: 10px;
  font-size: 1.4em;
  color: rgb(181, 233, 221);
  transition: all 0.5s;
  cursor: pointer;
}

button.cha span,
button.loc span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.cha span:after,
button.loc span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
/* button formázás és animáció vége */

.description {
  color: rgb(29, 70, 100);
  padding: 20px 40px;
  font-size: 1.4em;
  text-align: justify;
  line-height: 1.5em;
}
.description h1 {
  text-align: center;
  font-size: 1.6em;
}

.miniCards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  width: 200px;
  height: 330px;
  border-radius: 10px;
  background-color: rgba(95, 158, 160, 0.5);
  /* border: 5px solid transparent; */
  /*   border-image: url("./btnbg.png"//* konténer kezdete */
}

.character-list,
.location-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 40px;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.charName,
.charSpecies {
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  /*   font-family: "get-schwifty";
   */
}

/* .charName {
  height: 80px;
} */

.locCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  text-align: center;

  width: 200px;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(95, 158, 160, 0.5);
  color: white;

  /* margin: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  width: 250px;
  height: 200px;
  border: 5px solid transparent; */

  /*   font-family: "get-schwifty";
   */
  /*   border-image: url("./btnbg.png") 30 round; */
  /* background-image: url('./btnbg.png'); */
}

a {
  position: absolute;
  color: white;
  font-size: 20px;
}

.detailedCards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 200px;
  height: 330px;
  border-radius: 10px;
  /* background-color: rgba(95, 158, 160, 0.5); */

  /* position: fixed;
  width: 250px;
  height: 500px;
  z-index: 10;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: 5px solid transparent;
  background-color: black; */

  /*   font-family: "get-schwifty";
   */ /*   background-image: url("./stars-black-background.jpg"); */
  /*   border-image: url("./btnbg.png") 30 round; */
  /* position: absolute; */
}

.locVisible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 300px;
  border-radius: 10px;
  /* background-color: rgba(95, 158, 160, 0.5); */
  color: white;

  /* width: 300px;
  height: 300px;
  z-index: 10;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  position: absolute;
  border: 5px solid transparent; */

  /*   font-family: "get-schwifty";
   */ /*   background-image: url("./stars-black-background.jpg");
   */
  /*   border-image: url("./btnbg.png") 30 round;
   */
}
/* konténer vége */

.pagination {
}

.miniCards p {
  text-align: center;
  color: white;
}

.detailedCards p {
  text-align: center;
  color: rgb(29, 70, 100);
  margin: 8px 0;
}

.locName h2 {
  font-size: 23px;
  color: rgb(29, 70, 100);
  font-family: "get-schwifty";
  text-align: center;
  line-height: 1.5rem;
  padding: 0 45px;
}

.locVisible p,
.locVisilble h2 {
  text-align: center;
  color: rgb(29, 70, 100);
  line-height: 1.5rem;
}
.locVisible p {
  font-size: 1rem;
  font-weight: 700;
  max-width: 200px;
  margin: 15px auto;
}

.portalCards {
  text-align: center;
  line-height: 1.3rem;

  position: sticky;
  width: 360px;
  height: 400px;
  background-image: url("./images/portal1.png");
  background-size: 92%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 60px;
}

.portalCardsLoc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  line-height: 0.8rem;

  position: sticky;
  width: 300px;
  height: 300px;
  background-image: url("./images/portal1.png");
  background-size: 92%;
  background-position: center;
  background-repeat: no-repeat;
}
